# Ignore les fichiers système et les fichiers cachés
.DS_Store
Thumbs.db

# Dossiers spécifiques
/node_modules
/build
/.vscode

# Fichiers d'environnement
.env
.env.local

# Dépendances spécifiques à Python
__pycache__/
*.pyc
*.pyo

# Fichiers spécifiques à Java
*.class

# Fichiers spécifiques à Ruby
*.gem
*.rbc

# Fichiers spécifiques à Node.js
npm-debug.log
yarn-error.log
