@tailwind base;
@tailwind components;
@tailwind utilities;

/* wt stands for Web Tech */

.wt-title {
  @apply text-3xl font-bold underline mb-10;
}

/* CSS pour les champs de formulaire sur fond noir */
textarea ,input{
  color: black; /* Couleur du texte */
}

/* Style pour les boutons */
.styledButton {
  padding: 5px 10px;       /* Padding autour du texte */
  border-radius: 5px;       /* Bords arrondis */
  text-transform: uppercase;/* Texte en majuscules */
  text-decoration: none;    /* Pas de soulignement */
  font-size: 16px;          /* Taille de la police */
  font-weight: bold;        /* Poids de la police */
  transition: all 0.3s;     /* Transition douce pour les interactions */
  cursor: pointer;          /* Curseur en forme de pointeur */
  
}

/* Style pour le survol */
.styledButton:hover {
  background-color: #FFA500;
}

/* styles/globals.css */

/* Pour le thème clair */
:root {
  --background-color-light: #f8f8f8;
  --text-color-light: #000;
  --table-border-color-light: black;
}

/* Pour le thème sombre */
[data-theme='dark'] {
  --background-color-dark: #020420;
  --text-color-dark: #fff;
  --table-border-color-dark: white;
}

/* Appliquer la transition à tous les éléments */
body, footer, header, div, p {
  transition: background-color 0.5s, color 0.1s, border-color 0.5s; /* Ajout de border-color */
}

/* Appliquer la transition à la bordure de la table */
.table-with-border {
  border-color: var(--table-border-color-light);
  transition: border-color 0.5s;
}

/* Changer la couleur de la bordure pour le thème sombre */
[data-theme='dark'] .table-with-border {
  border-color: var(--table-border-color-dark);
}

.react-quill-editor {
  background-color: white;
}